<div class="dropdown">
    <div id="myDropdown" class="p-md-5 p-4 dropdown-content container">
        <div class="d-flex">
            <button type="button" role="menu" class="mh-menu-closed" click="{{function}}(event)">
                <i class="fas fa-times"></i>
            </button>
            <div class="d-flex flex-fill search-container">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <button class="search justify-content-end" type="button">
                    <img src="{{search_img}}" alt="">
                </button>
            </div>
        </div>
        <div class="d-flex flex-column my-menu">
            {{#each links}}
            <a href="{{address}}">{{text}}</a>
            {{/each}}
        </div>
    </div>
</div>