<div class="col-md-12 px-0 text-center">
    <div class="justify-content-center d-flex">
        <div class="tick"></div>
    </div>

    {{#each messages}}
    <p class="lead my-3 offer-discount my-text">{{value}}</p>
    {{/each}}

    <div id="b" class="d-flex justify-content-center">
        <div class="col col-md-4">
            <a href="#" class="btn d-flex align-items-center justify-content-center">
                <span>{{text_link}}</span>
                <img src="{{arrow_img}}">
            </a>
        </div>
    </div>
</div>